* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
.img {
  position: relative;
}
.underline {
  text-decoration: underline;
}
header {
  position: relative;
  /* height: 100vh; */
  background: url(../img/heder_bg.png) no-repeat center/cover;
  padding: 0 !important;
  overflow: hidden;
}
header .wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 48px;
  height: 100vh;
}
.nav-logo-wrap {
  display: flex;
  position: relative;
  /* padding: 0; */
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  align-content: center;
  position: relative;
  width: 100px;
  height: 100%;
}
.logo img {
  width: 100px;
  height: 25px;
}
nav {
  position: relative;
  z-index: 222;
  /* height: 23px; */
}
.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
  margin: 0;
  align-items: center;
}
.nav__list li {
  position: relative;
  margin-right: 20px;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.01em;
  transition: 0.5s;
  cursor: pointer;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.nav__list li:hover {
  text-decoration: underline;
  text-shadow: 0 0 5px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #55cae8,
    0 0 70px #55cae8, 0 0 80px #55cae8, 0 0 100px #55cae8, 0 0 150px #55cae8;
  -webkit-box-reflect: below 2px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0%, transparent), to(rgba(255, 255, 255, 0.48)));
}
header li {
  color: #5d676f;
}
.nav__list li:last-child {
  border: 3px solid;

  padding: 5px 12px;
  border-radius: 30px;
}
header .nav__list li:last-child {
  border-color: #55cae8;
}
.arrow {
  display: inline-block;
  margin-left: 24px;
  padding: 2px;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
}
.header .arrow {
  background: url(../img/arrow-circ--blue.png) center/contain;
}
.btn {
  position: relative;
  z-index: 222;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.btn:hover {
  box-shadow: 0 0 25px rgba(74, 201, 243, 1);
}
.btn span {
  position: relative;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.btn:hover span {
  right: -10%;
}
.nav__list .btn {
  width: 100px;
  height: 33px;
}
.header__content {
  /* flex: 1 1 auto; */
  display: flex;
  align-items: center;
  /* position: relative; */
  z-index: 22;

  /* flex: 1 1 auto; */
}
.header__text {
  max-width: 650px;
  margin-left: 15px;
}
.title {
  text-align: center;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.01em;
}
.title span {
  display: inline-block;
  background-color: #55cae8;
  color: white;
  padding: 0;
}
.header__text h1 {
  text-align: left;
  font-size: 46px;
  margin-bottom: 24px;
  line-height: 66px;
}
.header__text p {
  font-size: 20px;
}
.header__text .btn {
  margin-top: 36px;
  text-transform: uppercase;
  width: 198px;
  height: 68px;
  border-radius: 36px;
}
.header__text .btn__contact {
  background: #e3e0dd;
  color: #55cae8;
  margin-right: 30px;
}
.header__text .btn__try {
  background: #2e2b32;
  color: #fff;
}
.header__img {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  left: 0%;
  bottom: 0;
  height: 100%;
}
.header__img img {
  position: relative;
  margin-right: 10%;
  bottom: 5%;
  /* left: 35%; */
  /* position: absolute; */
  object-fit: cover;
  transform: translateX(40%);
  -webkit-transform: translateX(40%);
  -moz-transform: translateX(40%);
  -ms-transform: translateX(40%);
  -o-transform: translateX(40%);
}

.header-footer {
  width: 100%;
  padding: 22px 0;
  background: #ced5d8;
  position: relative;
  z-index: 22;
}
p {
  margin: 0;
}
.header-footer p {
  font-size: 15px;
  margin: 0 0 0 15px;
  max-width: 893px;
}
main h2 {
  font-size: 26px;
  line-height: 39px;
}
.dark-section {
  background: url(../img/main_drkBg.png) no-repeat center/cover;
  color: white;
}
.dark-section .title {
  text-align: center;
}
.workflow-templates {
  min-height: 670px;
  padding: 64px 0;
}
.workflow-templates__wrap {
  margin-top: 48px;
  padding: 0 0 50px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.workflow-templates__info {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.01em;
  padding: 14px 15px 42px;
  margin-bottom: 14px;
  width: 214px;
  min-height: 222px;
  border: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    180deg,
    rgba(85, 202, 232, 0.5) 0%,
    rgba(201, 232, 240, 0.08) 41.4%,
    rgba(85, 202, 232, 0) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(196, 196, 196, 0) 0%,
    rgba(23, 128, 155, 0.1) 73.44%
  );
  transition: 5s;
  -webkit-transition: 5s;
  -moz-transition: 5s;
  -ms-transition: 5s;
  -o-transition: 5s;
}
.workflow-templates__info:hover {
  transition: 1s;
  border-image-source: linear-gradient(
    360deg,
    rgba(85, 202, 232, 0.5) 0%,
    rgba(201, 232, 240, 0.08) 41.4%,
    rgba(85, 202, 232, 0) 100%
  );
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
/*  !!!!!!!! */
.workflow-templates__info .title {
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 24px;
}
.white-section {
  padding: 64px 0 81px 0;
}
.smart-labels__wrap {
  display: flex;
  flex-wrap: wrap;
  max-width: 950px;
  margin: 37px auto 0;
  font-size: 15px;
  line-height: 26px;
  /* or 173% */
}
.smart-labels__wrap > div {
  position: relative;
  width: 50%;
}
.smart-labels__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.smart-labels__img {
  min-height: 360px;
  background: linear-gradient(
    270deg,
    #ffffff 13.73%,
    #ffffff 83.26%,
    rgba(255, 255, 255, 0.3) 88.9%,
    rgba(255, 255, 255, 0) 100%
  );
}
.smart-labels__img::after {
  content: "";
  width: 315px;
  height: 315px;
  border-radius: 50%;
  position: absolute;
  left: 40%;
  background: linear-gradient(
    270deg,
    rgba(85, 202, 232, 0.07) 4.6%,
    rgba(196, 196, 196, 0) 93.97%
  );
}
.smart-labels__img:nth-child(4n + 3)::after {
  left: -10%;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.smart-labels__text:nth-child(4n + 4) {
  left: -50%;
}
.smart-labels__img:nth-child(4n + 3) {
  right: -50%;
}
.smart-labels__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.smart-labels__img img + img {
  position: absolute;
  width: 70%;
  height: 70%;
  left: 30%;
  top: -10%;
  object-fit: contain;
}
main .bluetooth {
  min-height: 235px;
  color: white;
  padding: 53px 0 0;
}
.bluetooth .title {
  font-size: 30px;
  line-height: 48px;
}
.bluetooth p {
  /* width: 50%; */
  /* flex: 0 0 auto; */
  margin-top: 17px;
  font-size: 15px;
  line-height: 22px;
}
.bluetooth .container {
  display: flex;
}
.bluetooth_img {
  align-self: flex-end;
  max-width: 745px;
}
.how-works__wrap {
  display: flex;
  align-content: center;
}
.how-works__img {
  min-width: 435px;
  min-height: 435px;
  background: #c4c4c4;
  margin-right: 30px;
}
.how-works__img::before {
  content: "";
  min-width: 435px;
  min-height: 435px;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  background: linear-gradient(
    270deg,
    rgba(85, 202, 232, 0.07) 4.6%,
    rgba(196, 196, 196, 0) 93.97%
  );
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.how-works__text {
  align-self: center;
  font-size: 15px;
  line-height: 26px;
}
.how-works__text p {
  margin-bottom: 30px;
}
.how-works__text p:last-child {
  margin-bottom: 0;
}
.general-info {
  padding: 70px 0 30px;
  overflow: hidden;
}
.general-info > div {
  display: flex;
}
ol {
  list-style: none;
  counter-reset: my-awesome-counter;
}
ol li {
  display: flex;
  font-size: 26px;
  line-height: 39px;
  counter-increment: my-awesome-counter;
  margin-bottom: 30px;
}
ol li::before {
  margin-right: 63px;
  content: counter(my-awesome-counter) ". ";
  color: rgba(85, 202, 232, 1);
  font-weight: bold;
}
.general-info__list {
  max-width: 445px;
}
.general-info_img {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.general-info_img img {
  position: relative;
  height: 100%;
  /* top: 0;
  bottom: 0;*/
  right: -10%;
}
.contact-us {
  padding: 64px 0;
}
.form-contact {
  position: relative;
  max-width: 540px;
  margin: 0 auto;
}
.form-contact .form-group {
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 26px;
}
input[type="text"],
input[type="email"] {
  background: #fafafa;
  border: 1px solid #504c54;
}
.form-contact span {
  color: rgba(74, 201, 243, 1);
}
.group-form-footer {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.form-contact button {
  margin-top: 36px;
  text-transform: uppercase;
  width: 190px;
  height: 68px;
  border-radius: 36px;
  background: #2e2b32;
  color: #fff;
  margin: 0;
}
.form-contact button:hover {
  color: white;
}
.form-contact__info {
  max-width: 200px;
  align-self: center;
}
.footer {
  width: 100%;
  min-height: 215px;
  background: #514e55;
  /* padding: 10px 0 0; */
  color: #fff;
  padding-bottom: 48px;
}
footer .wrap {
  padding-top: 55px;
}
.footer .nav__list {
  color: #fff;
  border-color: white;
}
.footer .nav__list:last-child {
  border-color: white;
}
.footer .arrow {
  background: url(../img/arrow-circ.png) center/contain;
}
.line {
  height: 1px;
  background: #757378;
  margin: 19px auto 24px;
}
footer .container {
  padding: 0;
}
.footer-botton {
  font-size: 15px;
  line-height: 22px;
  color: #757378;
}
